# CANH TRAN Notebook -DEMO for Project #5

- Author: [Ken McTran](https://github.com/ctranimal )
- Repository: ( https://github.com/ctranimal/datafun-05-sql )
  
- Purpose: To practice with Markdown cells, Python cells in a ipynb notebook. To use this Notebook to document and present my findings regarding Project #5
- Date: Most recently updated: 7/29/25.

## Section 1. Import external packages 
   
#### The purpose of this section is to import external packages that I will need to execute python code subsequently

In [2]:
# Import from external packages
import pandas as pd
import seaborn as sns
import matplotlib

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

ModuleNotFoundError: No module named 'seaborn'

## Section 2. Run the db01_setup.py script 
   
#### The purpose of this section is to demo the db01_setup.py script that execute the SQL scripts in sql_create folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db01_setup.pl
```

Resutled in 2 tables successfully created: Students table (with 10 rows, table Testscores table with 10 records)

## Section 3-1. Run the db02_features.py script to add year_born column and add year_born of 2010 for some students
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --update 1
```


1. Resulted in table Students with add column 'year_born' with only those with lastname 'Doe' added the year_born of 2010
2. Note: running command `db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

## Section 3-2. Run the db02_features.py script to update a Student John 08 Doe's email address
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --update 2
```

1. Resulted in table Student with student's firstname/name as John 08/Doe with his email field updated.
2. Note: running command `db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

## Section 3-3. Run the db02_features.py script to Delete a record
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --delete 1
```

1. Resulted in table Student with Test_title as "AP History" being deleted
2. Note: running command `python3 db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

Similarly 
```bash
python3 db02_features.pl --delete 2
```

 Resulted in table Student with Test_title as "AP Physics" being deleted

 Similarly 

```bash
python3 db02_features.pl --delete 3
```

 Resulted in table Student with taken_date field equal "12/31/2025" being deleted.

## Section 4. Run the db03_features.py script to Query the talbes
   
#### The purpose of this section is to demo the db03_query script that execute the SQL scripts in sql_queries folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_queries.pl --setup 1
python3 tran_testscore_manager.py
```

Explaination
1. Resulted in the tables Students and Testscores being dropped 
2. Note: running command `python3 db02_queries.pl --setup 1` has similar effect as running `python3 db01_setup.pl`, it would do 2 things: clear out the tables (i.e: DROP tables), create tables.
3. Then, the command `python3 tran_testscore_manager.py` would load students.csv and testscores.csv files (in data folder) into the SQLite database.
4. Result: table Students are loaded with 10 students records and table Testscores are loaded with 40 test-scores records.

5. After the setting up above, make the following commands with the correcxt "--query" argument to invoke th corresponding SQL query command. For example
```bash
python3 db02_queries.pl --query 1  # to invoke 01_query_aggregation.sql
```

```bash
python3 db02_queries.pl --query 2  # to invoke 02_query_filter.sql
```

```bash
python3 db02_queries.pl --query 3  # to invoke 03_query_group_by.sql
```

```bash
python3 db02_queries.pl --query 4  # to invoke 04_query_join.sql
```

```bash
python3 db02_queries.pl --query 5  # to invoke 05_query_sorting.sql
```
 #### Here are the results of the above 5 queries
```bash
python3 db02_queries.pl --query 1  # to invoke 01_query_aggregation.sql
```
      SQL code: SELECT COUNT(*) AS TotalStudents FROM Students
      Returned: 10 
      Analysis: Indeed, there are 10 records in table Students representing 10 students.


```bash
python3 db02_queries.pl --query 2  # to invoke 02_query_filter.sql
```
      SQL code: SELECT first_name FROM Students WHERE last_name="Smith";
      Returned: George
      Analysis: Indeed, there are 1 record in table Students with student's name first/last = George/Smith

```bash
python3 db02_queries.pl --query 3  # to invoke 03_query_group_by.sql
```
      SQL code: SELECT b.test_title AS test_title, COUNT(b.testscore_id) AS testscore_count FROM Students a
                    LEFT JOIN Testscores b ON a.student_id = b.student_id
                    GROUP BY b.test_title;
      Returned: [('Chemistry', 8), ('English', 12), ('Mathematics', 16), ('Physics', 4)]
      Analysis: Indeed, there are the test_title and how many there are of each type

```bash
python3 db02_queries.pl --query 4  # to invoke 04_query_join.sql
```
      SQL code: SELECT a.last_name AS student_lastname, COUNT(b.testscore_id) AS testscore_count FROM Students a
                    LEFT JOIN Testscores b ON a.student_id = b.student_id GROUP BY student_lastname
                    ORDER BY testscore_count DESC;
      Returned: [('Tolkinience', 4), ('Tolken', 4), ('Smith', 4), ('Sal', 4), ('LeeAnn', 4), ('Huckley', 4), ('Fizz', 4), ('Brad', 4), ('Bowling', 4), ('Aux', 4)]
      Analysis: Indeed, these are correct

```bash
python3 db02_queries.pl --query 5  # to invoke 05_query_sorting.sql
```
      SQL code: SELECT a.last_name AS student_lastname, COUNT(b.testscore_id) AS testscore_count FROM Students a
                    LEFT JOIN Testscores b ON a.student_id = b.student_id GROUP BY b.test_title
                    ORDER BY testscore_count DESC;
      Returned: [('Fizz', 16), ('LeeAnn', 12), ('Sal', 8), ('Aux', 4)]
      Analysis: Indeed, there are correct