# CANH TRAN Notebook -DEMO for Project #5

- Author: [Ken McTran](https://github.com/ctranimal )
- Repository: ( https://github.com/ctranimal/datafun-05-sql )
  
- Purpose: To practice with Markdown cells, Python cells in a ipynb notebook. To use this Notebook to document and present my findings regarding Project #5
- Date: Most recently updated: 7/29/25.

## Section 1. Import external packages 
   
#### The purpose of this section is to import external packages that I will need to execute python code subsequently

In [2]:
# Import from external packages
import pandas as pd
import seaborn as sns
import matplotlib

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

ModuleNotFoundError: No module named 'seaborn'

## Section 2. Run the db01_setup.py script 
   
#### The purpose of this section is to demo the db01_setup.py script that execute the SQL scripts in sql_create folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db01_setup.pl
```

Resutled in 2 tables successfully created: Students table (with 10 rows, table Testscores table with 10 records)

## Section 3-1. Run the db02_features.py script to add year_born column and add year_born of 2010 for some students
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --update 1
```


1. Resulted in table Students with add column 'year_born' with only those with lastname 'Doe' added the year_born of 2010
2. Note: running command `db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

## Section 3-2. Run the db02_features.py script to update a Student John 08 Doe's email address
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --update 2
```

1. Resulted in table Student with student's firstname/name as John 08/Doe with his email field updated.
2. Note: running command `db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

## Section 3-3. Run the db02_features.py script to Delete a record
   
#### The purpose of this section is to demo the db02_features.py script that execute the SQL scripts in sql_features folder.

On a Terminal window, run the following command (in Mac, at project folder ~/Repos/datafun-05-sql )

```bash
python3 db02_features.pl --setup 1
python3 db02_features.pl --delete 1
```

1. Resulted in table Student with Test_title as "AP History" being deleted
2. Note: running command `db02_features.pl --setup 1` has the same effect as running `python3 db01_setup.pl`, it would do 3 things: clear out the tables (i.e: DROP tables), create tables, and re-insert 10 rows into each tables.

Similarly 
```bash
python3 db02_features.pl --delete 2
```

 Resulted in table Student with Test_title as "AP Physics" being deleted

 Similarly 

```bash
python3 db02_features.pl --delete 3
```

 Resulted in table Student with taken_date field equal "12/31/2025" being deleted.